__pycache__/
*.pyc
*.pyo
*.pyd

.env
*.env

logs/
airflow.db
*.sqlite
*.log

*.pid
*.sock
.env.*
.docker/
.vscode/
__docker_volumes__/
db_data/

.DS_Store
Thumbs.db

.ipynb_checkpoints

*.csv

venv